.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.photograph-infos > h1 {
  color: #db8876;
  font-size: 40px;
  margin: 10px;
}

.photograph-infos > p:nth-child(2) {
  color: #901c1c;
  font-size: 24px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#dropdown {
  margin: 25px 100px;
}

#dropdown > label {
  margin-right: 25px;
  font-weight: bold;
}

#orderDropdown {
  height: 50px;
  padding: 0 10px;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 100px;
  padding: 0 75px;
  background-color: #fafafa;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.photograph-infos > h1 {
  color: #d3573c;
  font-size: 40px;
  margin: 10px 0;
}

.photograph-infos > p:nth-child(2) {
  color: #901c1c;
  font-size: 24px;
}

.photograph-likeprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db8876;
  width: 225px;
  position: fixed;
  bottom: 0;
  right: 32px;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

#photograph-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px 100px;
  margin: 100px;
  margin-top: 50px;
}

#photograph-media a {
  text-decoration: none;
}

#photograph-media article {
  width: 100%;
  height: 100%;
}

#photograph-media img,
#photograph-media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

#photograph-media div {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  font-size: 20px;
}

#photograph-media div span:last-child {
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/*  */
#contact_modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa80;
}

.modal_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  padding: 30px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: #db8876;
  transform: translate(-50%, -50%);
}

.modal_contact header {
  width: 100%;
  justify-content: space-between;
}

.modal_contact header h2 {
  font-size: 54px;
  font-weight: normal;
  text-align: center;
}

.modal_contact header img {
  cursor: pointer;
}

/* modal */
#mediaModal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
}

#leftArrow,
#rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  color: #901c1c;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#leftArrow {
  left: 20%;
}

#rightArrow {
  right: 20%;
}

#mediaModal > div {
  position: absolute;
  width: 50%;
  height: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mediaModal > div img,
#mediaModal > div video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mediaModal > button:nth-child(3) {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 20%;
  border: none;
  background-color: transparent;
}

#mediaModal svg path {
  fill: #901c1c;
}

#mediaModal span {
  color: #901c1c;
  font-size: 20px;
}

/* Media queries */

@media screen and (max-width: 900px) {
  .photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 50px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #photograph-media {
    display: grid;
    grid-template-columns: 1fr;
    gap: 75px 100px;
    margin: 100px;
    margin-top: 50px;
  }

  .contact_button {
    margin: 20px 0;
  }

  .photograph-header img {
    margin-bottom: 30px;
  }

  /* modal contact */
  .modal_contact header h2 {
  font-size: 20px;
  }
  
  .modal_contact header img {
    max-width: 25px;
    max-height: 25px;
    padding-left: 20px;
  }
  form label {
    color: #312e2e;
    font-size: 20px;
  }
  form input {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .modal_contact {
    width: 50%;
    padding: 30px;
    height: 500px;
  }

  #leftArrow {
    left: 10%;
  }
  
  #rightArrow {
    right: 10%;
  }

  #mediaModal > button:nth-child(3) {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 10%;
    border: none;
    background-color: transparent;
  }
}

.like {
  margin: 0;
  cursor: pointer;
  color: #901C1C;
  font-size: 20px;
}